@import "tailwindcss";
:root{
    --darkest-color: #000000;
    --imdb-gray: #121212;
    --imdb-white: #FFFFFF;
    --imdb-suggestion-hover: #313131;
}
body{
    background: #000000;
}
.searchContainer{
    display: flex;
    align-items: center;
    
    height: 100%;
    max-width: 650px;
    flex: 1;
   

}
.searchSuggestions{

  position:absolute;
  top: 10%;
  
  
 
}
#searchBox{
  width: 100%;
}

#searchInput:focus{
 outline: none;
 box-shadow: none; 
}
.searchContainer.parent{
 
  padding: 0;
  display: flex;
  flex-direction: column;
}
.searchContainer > input, #searchBox{
    background: #FFFFFF;
    padding: 2px;
    border-radius: 8px;
    margin-left: 7px;
    
}
#movieInfoContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--imdb-suggestion-hover);
}
#movieInfoContainer * {
  margin-left: 2rem;
  color: var(--imdb-white);
  
  
}
#suggestionsContainer{
 
  
  background: var(--imdb-gray);
  display: flex;
  flex-direction: row;
  width: 100%;

  z-index: 1;
  border-radius: 8px;
  
 
  width: 650px;
  box-sizing: border-box;
  

}
#suggestionsContainer * {
  

  
}
#suggestionsContainer *:hover{
  
  background: var(--imdb-suggestion-hover);
}

#header-box{
    align-items: center;
    max-width: 1280px;
    width: 100%;
}
#header{
    display: flex;
    justify-content: center;
    width: 100%;
    background: #121212;
}
.menuText{
    color: var(--imdb-white);
    margin-bottom: 2px;

}
#username{
    color: var(--imdb-white);
}
#logo-container{
    flex-direction: row-reverse;
}
#userContainer{
height: 24px;
}
#userContainer * {
  
  border-radius: 10px;
  
  
}
#watchlist:hover, #userNav:hover{
  background: var(--imdb-suggestion-hover);
}
@media only screen and (max-width: 1000px) {
  .menuText{
    display: none;
  }
  #logo-container{
    flex-direction: row;
  }
  #watchlist{
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .searchContainer, #suggestionsContainer{
    max-width: 400px;
  }
}

@media only screen and (max-width: 660px) {
  .searchContainer *:not(img)  {
    
    display: none;
    
  }
  .searchContainer{
    background: var(--imdb-gray);
    border: none;
  }
  #username{
    display: none;
  }
}
/*  */
